<a href="https://colab.research.google.com/github/bankehsaz/Naive-Forecast/blob/main/Naive_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import necessary libraries
import numpy as np
import pandas as pd
from sklearn import metrics
import yfinance as yf

In [2]:
# get data from yahoo finance
df = yf.download(tickers='GLD', start='2022-01-01', end='2024-01-01')
df.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-05-31,182.389999,183.449997,182.100006,182.320007,182.320007,8497900
2023-06-01,182.809998,184.210007,182.720001,183.759995,183.759995,7300500
2023-06-02,183.529999,183.559998,180.960007,181.050003,181.050003,8724800
2023-06-05,180.789993,182.440002,180.600006,182.139999,182.139999,5748800
2023-06-06,182.360001,182.649994,181.520004,182.339996,182.339996,4966500

In [3]:
# close prediction
df['Close_Prediction'] = df['Close'].shift(1)
df.head()

,Open,High,Low,Close,Adj Close,Volume,Close_Prediction
Date,,,,,,,
2022-01-03,168.860001,169.009995,168.000000,168.330002,168.330002,9014400,NaN
2022-01-04,168.899994,169.720001,168.729996,169.570007,169.570007,6965600,168.330002
2022-01-05,170.619995,170.929993,168.899994,169.059998,169.059998,8715600,169.570007
2022-01-06,167.160004,167.750000,166.860001,166.990005,166.990005,10902700,169.059998
2022-01-07,167.369995,168.009995,166.860001,167.750000,167.750000,8191900,166.990005

In [4]:
# drop NaN values
df.dropna(inplace=True)

In [5]:
# assign values to y_true and y_pred
y_true = df['Close']
y_pred = df['Close_Prediction']

In [6]:
# The Sum of Squared Error(SSE)
(y_true - y_pred).dot(y_true - y_pred)

971.0249741708394

In [7]:
# The Mean Squared Error(MSE)
metrics.mean_squared_error(y_true, y_pred)

2.7199579108426875

In [8]:
# The Root Mean Squared Error(RMSE)
metrics.mean_squared_error(y_true, y_pred, squared=False)

1.6492294900476063

In [9]:
# The Mean Absolute Error(MAE)
metrics.mean_absolute_error(y_true, y_pred)

1.2725209041135985

In [10]:
# The Mean absolute percentage error(MAPE)
metrics.mean_absolute_percentage_error(y_true, y_pred)

0.007404902342601697

In [11]:
# The R^2
metrics.r2_score(y_true, y_pred)

0.9714862841867201